@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
	margin: 0;
	background-color: rgb(34, 34, 34);
	font-family: 'Montserrat', sans-serif;
}

content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100vw;
	min-height: 100vh;
}

.container {
	display: flex;
	margin: 25px;
	align-self: center;
	justify-self: center;
	width: 60vw;
	background-color: rgb(50, 50, 50);
	justify-content: center;
	flex-wrap: wrap;
}

.input-group {
	display: flex;
	align-items: center;
	align-self: center;
	padding: 20px;
	flex-direction: column;
	width: 40%;
}

.input-label {
	color: white;
	font-size: 2em;
}

.input {
	margin-top: 20px;
	width: 100%;
	padding: 5px;
	font-size: 1em;
}

.game {
	width: 400px;
	background-color: rgb(106, 106, 106);
	margin: 5px;
	color: white;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	padding: 10px;
	justify-content: space-between;
}
.game h1 {
	font-size: 20px;
}
.game img {
	margin-top: 20px;
	border-radius: 15px;
}