@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body {
	margin: 0px;
	height: 100%;
	font-family: 'Montserrat', sans-serif;
	background-color: rgb(246, 246, 246);
}

.fullscreen-container {
	width: 100%;
	height: 100%;
	background-color: rgb(246, 246, 246);
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: column;
}

.fullscreen-header-container {
	width: 500px;
	height: 250px;
	background-color: rgb(255, 200, 0);
	border-radius: 25px;
	padding: 20px;
	display: flex;
	align-self: center;
	flex-wrap: wrap;
	align-content: stretch;
	justify-content: center;
	align-self: center;
}

.fullscreen-header-container > h1 {
	align-self: center;
}
.fullscreen-header-container > .intro:after {
	content: "→ A JavaScript Lesson By James Biltaji";
	font-size: small;
	min-width: 200px;
	border-radius: 10px;
	padding: 13px;
	color: #000000;
	z-index: 1;
	white-space: nowrap;
}

.popup {
	padding: 40px;
	background-color: tomato;
	border-radius: 25px;
	color: white;
	display: flex;
	align-items: center;
	animation: fade-in;
	animation-duration: 1s;
}

.button-hover:hover {
	box-shadow: 0px 0px 16px 0px #ffe586;
}

.code-block {
	background: #340147;
	padding: 20px;
	border: 5px solid tomato;
	border-style: double;
	animation: fade-in;
	animation-duration: 1s;
}

.list {
	list-style: none;
}

.list li {
	border-bottom: 1px solid rgb(97, 97, 97);
	padding: 5px;
}

@keyframes fade-in {
	from {
		color: transparent;
	}

	to {
		color: white;
	}
}

.header-container {
	width: 500px;
	background-color: rgb(255, 200, 0);
	border-radius: 25px;
	padding: 20px;
	display: flex;
	align-self: center;
	flex-wrap: wrap;
	align-content: stretch;
	justify-content: center;
	align-self: center;
}

code {
	color: white;
}