.thought-container {
	position: sticky;
	height: 100px;
}

.thought-container-2 {
	position: sticky;
	height: 100px;
	top: 70px;
	margin: 100px;
}

.thought {
	display: flex;
	background-color: #ffe586;
	padding: 20px;
	border-radius: 30px;
	min-width: 40px;
	max-width: 220px;
	min-height: 40px;
	margin: 20px;
	position: relative;
	align-items: center;
	justify-content: center;
	text-align: center;
	animation-name: example;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	animation-duration: 3s;
	animation-timing-function: cubic-bezier(0.22, 0.06, 0.68, 1.02);
	cursor: pointer;
}

.thought:before,
.thought:after {
	content: "";
	background-color: inherit;
	border-radius: 50%;
	display: block;
	position: absolute;
	z-index: -1;
}

.thought:before {
	width: 44px;
	height: 44px;
	top: -12px;
	left: 28px;
	box-shadow: -50px 30px 0 -12px #ffe586;
}

.thought:after {
	bottom: -10px;
	right: 26px;
	width: 30px;
	height: 30px;
	box-shadow: 40px -34px 0 0 #ffe586,
		-28px -6px 0 -2px #ffe586,
		-24px 17px 0 -6px #ffe586,
		-5px 25px 0 -10px #ffe586;
}

@keyframes example {
	0% {
		top: 0px;
	}
	100% {
		top: 10px;
	}
}